/database/database.sqlite
/node_modules
/public/hot
/public/storage
/public/registros
/storage/*.key
/vendor
.env.backup
.env
.composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
